.main-section {
  width: 960px;
  height: 390px;
  margin: 0 0 57.5px;
  padding: 22px 0 27.5px 0.3px;
  object-fit: contain;
  background-image: url("/resources/img/main_01.jpg");
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 8.1%;
}

.main-logo {
  cursor: pointer;
}

.main-btn {
  border-style: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
  font-family: Montserrat;
  font-size: 12.5px;
  font-weight: 500;
  line-height: 0.6;
  letter-spacing: -0.75px;
  text-align: left;
  color: #fff;
}

.main-componentImg {
  margin-right: 9.7%;
  cursor: pointer;
}

.main-line {
  width: 958px;
  height: 0;
  margin: 17.3px 0 0;
  object-fit: contain;
  border: solid 0.5px #707070;
  opacity: 0.4;
}

.main-rectangle {
  background-image: url("/resources/img/사각형\ 5.png");
  width: 80px;
  height: 118px;
  object-fit: contain;
  opacity: 0.9;
  background-color: #fff;
  margin-left: 24%;
  margin-top: -4px;
  display: flex;
  flex-direction: column;
  padding: 1% 0px;
}

.ractangle-text {
  object-fit: contain;
  font-family: NotoSansCJKkr;
  font-size: 10px;
  line-height: 1.75;
  letter-spacing: -0.6px;
  text-align: center;
  color: #707070;
  opacity: 0.8;
  cursor: pointer;
}
